<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.servfix.manualesapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.InformacionUsuario"></activity>
        <activity android:name=".activities.EstadoCuenta" />
        <activity android:name=".activities.CursosVendidos" />
        <activity android:name=".activities.CuentaBancaria" />
        <activity android:name=".activities.MiBilletera" />
        <activity android:name=".activities.MisChats" />
        <activity android:name=".activities.MisCursosTecnico" />
        <activity android:name=".PerfilUsuario" />
        <activity android:name=".activities.NuevaCategoria" />
        <activity android:name=".activities.NuevoCurso" />
        <activity android:name=".activities.MenuTecnicos" />
        <activity android:name=".ChatSoporte" />
        <activity android:name=".DetalleManualWeb" />
        <activity android:name=".Registrarse" />
        <activity android:name=".CheckoutStripe" />
        <activity android:name=".activities.Checkout" />
        <activity android:name=".ReproductorVimeo" />
        <activity android:name=".activities.CarritoCompras" />
        <activity android:name=".activities.MenuPrincipal" />
        <activity android:name=".DetalleManualPdf" />
        <activity
            android:name=".ImagenCompleta"
            android:parentActivityName=".DetalleManual" />
        <activity android:name=".DetalleManual" />
        <activity android:name=".Principal" />
        <activity android:name=".activities.InicioSesion" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".firebase.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>